<div class="app-home">
  <p-toolbar>
    <div class="action-bar">
      <img src="../../../assets/images/logo_header.png" width="40px" />
      <i class="fa-solid fa-bars" style="font-size: 1.3rem;"></i>
    </div>
    <div class="my-name">
      Melissa Bueno
    </div>
    <div class="profile-container">
      <div class="status-container">
        <div class="my-avatar" [class.pode-ajudar]="podeAjudar" [class.precisa-ajuda]="precisaAjuda">
          <img src="../../../assets/images/avatar_list/avatar_my.avif" />
        </div>
      </div>
      <div class="my-status">
        <p-chart type="doughnut" [data]="data" [options]="options" width="125px"></p-chart>
      </div>
    </div>
    <p-panel [toggleable]="true" header="Minhas emoções" [collapsed]="true">
      <div class="my-dashboard">
        <div class="indicadores-container">
          <div class="item-indicador" *ngFor="let emocao of emocoes" [ngClass]="emocao.styleClass">
            <div class="label-indicador">{{emocao.nome}}</div>
            <p-slider [(ngModel)]="emocao.valor" [step]="1" [min]="0" [max]="10" (onSlideEnd)="atualizarGrafico()" ></p-slider>
          </div>
        </div>
        <div class="comment-status" *ngIf="precisaAjuda">
          <span>😰 Você não está muito legal hoje, né? Nessas podemos pedir ajuda e é sempre bom conversar sobre o que estamos sentindo com alguém.</span>
         </div>
         <div class="comment-status" *ngIf="podeAjudar">
          <span>😎 Você está de boa! Que tal ajudar um amigo que não esteja tão bem?</span>
         </div>
         <div class="indicador-status" *ngIf="precisaAjuda">
          <span>Amigos disponíveis para ajudar</span>
         </div>
         <div class="indicador-status" *ngIf="podeAjudar">
          <span>Amigos precisando de ajuda</span>
         </div>
        <div class="friends-list" *ngIf="podeAjudar">
          <div class="avatar-container precisa-ajuda">
            <p-avatar size="xlarge" shape="circle" image="../../../assets/images/avatar_list/avatar_2.jpg"></p-avatar>
            <span class="name">Miguel</span>
          </div>
          <div class="avatar-container precisa-ajuda">
            <p-avatar size="xlarge" shape="circle" image="../../../assets/images/avatar_list/avatar_3.jpg"></p-avatar>
            <span class="name">Gabi</span>
          </div>
          <div class="avatar-container precisa-ajuda">
            <p-avatar size="xlarge" shape="circle" image="../../../assets/images/avatar_list/avatar_4.jpg"></p-avatar>
            <span class="name">Arthur</span>
          </div>
          <div class="avatar-container precisa-ajuda">
            <p-avatar size="xlarge" shape="circle" image="../../../assets/images/avatar_list/avatar_6.jpg"></p-avatar>
            <span class="name">Pedro</span>
          </div>
        </div>
        <div class="friends-list" *ngIf="precisaAjuda">
          <div class="avatar-container pode-ajudar">
            <p-avatar size="xlarge" shape="circle" image="../../../assets/images/avatar_list/avatar_2.jpg"></p-avatar>
            <span class="name">Miguel</span>
          </div>
          <div class="avatar-container pode-ajudar">
            <p-avatar size="xlarge" shape="circle" image="../../../assets/images/avatar_list/avatar_3.jpg"></p-avatar>
            <span class="name">Gabi</span>
          </div>
          <div class="avatar-container pode-ajudar">
            <p-avatar size="xlarge" shape="circle" image="../../../assets/images/avatar_list/avatar_4.jpg"></p-avatar>
            <span class="name">Arthur</span>
          </div>
          <div class="avatar-container pode-ajudar">
            <p-avatar size="xlarge" shape="circle" image="../../../assets/images/avatar_list/avatar_6.jpg"></p-avatar>
            <span class="name">Pedro</span>
          </div>
        </div>
        <div class="indicador-status" *ngIf="precisaAjuda">
          <span>Terapeutas que podem te ajudar</span>
         </div>
        <div class="friends-list" *ngIf="precisaAjuda">
          <div class="avatar-container pode-ajudar">
            <p-avatar size="xlarge" shape="circle" image="../../../assets/images/avatar_list/terapeuta_1.png"></p-avatar>
            <span class="name">Ana</span>
          </div>
          <div class="avatar-container pode-ajudar">
            <p-avatar size="xlarge" shape="circle" image="../../../assets/images/avatar_list/terapeuta_2.png"></p-avatar>
            <span class="name">Júlia</span>
          </div>
          <div class="avatar-container pode-ajudar">
            <p-avatar size="xlarge" shape="circle" image="../../../assets/images/avatar_list/terapeuta_3.png"></p-avatar>
            <span class="name">Henrique</span>
          </div>
          <div class="avatar-container pode-ajudar">
            <p-avatar size="xlarge" shape="circle" image="../../../assets/images/avatar_list/terapeuta_4.png"></p-avatar>
            <span class="name">Emanuela</span>
          </div>
        </div>
      </div>
    </p-panel>
  </p-toolbar>
  <p-panel [toggleable]="true" class="feed-panel">
    <ng-template pTemplate="header">
      <i class="fa-regular fa-handshake" style="font-size: 2rem;"></i>
    </ng-template>
    <div class="feed-container">
      <div class="card-container">
        <p-card header="Essa frase me ajudou muito!">
          <div class="card-content" style="background-color: rgb(177, 196, 171); padding: 0.5em">
            <p>"A vida é dramaticamente curta para se viver e tremendamente longa para se errar. Não erre com você, deixando de contemplar o belo e fazendo das pequenas
              coisas um espetáculo aos seus olhos."</p>
          </div>
          <ng-template pTemplate="footer">
            <i class="fa-solid fa-hands-praying" style="font-size: 1.2rem;"></i>
            <span style="margin-left: 5px; margin-right: 0.5em">Agradeça</span>
            <p-badge value="5"></p-badge>
          </ng-template>
        </p-card>
        <p-card header="Aconteceu comigo ontem">
          <div class="card-content" style="background-color: floralwhite; padding: 0.5em">
            <p>Eu estava fazendo a prova de matemática e comecei a ter uma crise de ansiedade. Meu coração estava disparado. Eu não queria ter um
              ataque de pânico novamente. Então eu lembrei do que a terapeuta me ensinou, a técnica DCD. Comecei a duvidar daquilo que eu estava sentindo.
              Questionar se existiram razões para eu ficar em pânico, com medo. Depois comecei a criticar o que estava acontecendo, pois não estava certo.
              Daí consegui determinar que eu iria fazer a minha prova com o que eu sabia e que não iria acontecer nada de mais se eu não fosse bem.
              Foi a primeira vez que consegui sair de uma crise! Estou contando aqui para encorajar outros que tentem também!
            </p>
          </div>
          <ng-template pTemplate="footer" >
            <i class="fa-solid fa-hands-praying" style="font-size: 1.2rem;"></i>
            <span style="margin-left: 5px; margin-right: 0.5em">Agradeça</span>
            <p-badge value="2"></p-badge>
          </ng-template>
        </p-card>
        <p-card header="Hoje não estou legal...">
          <div class="card-content" style="background-color: rgb(186, 233, 235); padding: 0.5em">
            <p>Hoje acordei com um aperto no peito! Estou com muitas saudades dos meus pais! Tem dias que a dor é muito grande!
              Mistura revolta, medo, tristeza... aff! Meu Deus, me ajude a suportar! Preciso seguir em frente!
            </p>
          </div>
          <ng-template pTemplate="footer" >
            <i class="fa-solid fa-hands-praying" style="font-size: 1.2rem;"></i>
            <span style="margin-left: 5px; margin-right: 0.5em">Estamos juntos</span>
            <p-badge value="1"></p-badge>
          </ng-template>
        </p-card>
      </div>
    </div>
  </p-panel>
  <div class="footer-container">
    <i class="fa-solid fa-user-plus" ></i>
    <i class="fa-regular fa-square-plus"></i>
  </div>
</div>
